html {
  font-family: "open sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "varela round", sans-serif;
}

h2 {
  color: #fff;
}

.masthead,
.footer {
  background-color: #f9c152;
  color: #022e4c;
}

.nav a {
  border-bottom: .1em solid currentColor;
  color: #022e4c;
  text-decoration: none;
}

.logo {
  width: 100px;
}

nav a:hover {
  color: #fff;
  width: 110px;
  background-color: #c08f2d;
}

.banner {
  background: linear-gradient(to bottom, rgba(144, 144, 144, .2) 20%, rgba(14, 45, 76, 1)), url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 3px solid #0e2d4a;
}

.banner-content {
  background-image: url("../images/help-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: .75em 9.5em;
  padding-top: 300px;
}

.button {
  background-color: #022e4c;
  color: white;
  border-color: #022e4c;
}

.banner .button {
  background-color: white;
  color: #022e4c;
  border-color: white;
}

.banner .button:hover {
  background-color: #f9c152;
  color: #022e4c;
  border-color: #f9c152;
}

.button:hover {
  border-color: #022e4c;
  background-color: white;
  color: #022e4c;
}

.chihuahua {
  min-width: 100px;
}

.first-section {
  background-color: #f9f9f9;
}

.bg-white {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card {
  transition: .3s;
}

.bg-white:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.second-section {
  background-color: #f9c152;
}

h4 {
  color: #022e4c;
}

.call-to-action-01 p {
  font-family: "varela round", sans-serif;
}

footer {
  font-family: "varela round", sans-serif;
}
